<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form 
                    class="form p-t-20"
                    [formGroup]="profileForm!"
                    (ngSubmit)="updateProfile()"
                >
                    <div class="form-group">
                        <div class="input-group">

                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="exampleInputuname"
                                placeholder="Nombre"
                                formControlName="name"
                            >
                        
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input 
                                type="email" 
                                class="form-control" 
                                id="exampleInputEmail1" 
                                placeholder="Email"
                                formControlName="email"
                                [readOnly]="user.google"
                            >

                        </div>
                    </div>

                    <button 
                        type="submit" 
                        class="btn btn-success btn-block waves-effect waves-light m-r-10"
                        [disabled]="profileForm!.invalid"
                    >
                        Guardar cambios
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <div class="text-center">
                    <img *ngIf="!imageTemp" class="mb-4" [src]="user.ImageURL" width="200px" height="200px">
                    <img *ngIf="imageTemp" class="mb-4" [src]="imageTemp" width="200px" height="200px">
                </div>


                <input type="file" class="form-control" (change)="changeImage($any($event.target).files[0])">

                <br>
                <br>

                <button 
                    type="button" 
                    class="btn btn-success btn-block waves-effect waves-light m-r-10"
                    [disabled]="!imageUpdate"
                    (click)="uploadImage()"
                >
                    Actualizar imagen
                </button>

            </div>
        </div>
    </div>
</div>